<template>
  <span :class="['badge', type]">{{ text }}</span>
</template>

<script setup>
const props = defineProps({
  text: {
    type: String,
    default: '',
  },
  type: {
    type: String,
    default: 'success',
    validator: (value) => ['success', 'warning', 'danger'].includes(value),
  },
})
</script>

<style lang="scss" scoped>
.badge {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  padding: 0 6px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0.5em;
  vertical-align: top;
  &.success {
    background-color: #42b983;
  }
  &.danger {
    background-color: #d82e3c;
  }
}
</style>
