<template>
  <div>
    <aside>
      <form>
        <span>
          <input
            type="radio"
            id="radio-elastic"
            name="flavour"
            v-model="flavour"
            value="elastic"
          />
          <label for="radio-elastic">elastic</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-pulse"
            name="flavour"
            v-model="flavour"
            value="pulse"
          />
          <label for="radio-pulse">pulse</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-flashing"
            name="flavour"
            v-model="flavour"
            value="flashing"
          />
          <label for="radio-flashing">flashing</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-collision"
            name="flavour"
            v-model="flavour"
            value="collision"
          />
          <label for="radio-collision">collision</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-revolution"
            name="flavour"
            v-model="flavour"
            value="revolution"
          />
          <label for="radio-revolution">revolution</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-carousel"
            name="flavour"
            v-model="flavour"
            value="carousel"
          />
          <label for="radio-carousel">carousel</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-typing"
            name="flavour"
            v-model="flavour"
            value="typing"
          />
          <label for="radio-typing">typing</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-windmill"
            name="flavour"
            v-model="flavour"
            value="windmill"
          />
          <label for="radio-windmill">windmill</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-bricks"
            name="flavour"
            v-model="flavour"
            value="bricks"
          />
          <label for="radio-bricks">bricks</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-floating"
            name="flavour"
            v-model="flavour"
            value="floating"
          />
          <label for="radio-floating">floating</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-fire"
            name="flavour"
            v-model="flavour"
            value="fire"
          />
          <label for="radio-fire">fire</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-spin"
            name="flavour"
            v-model="flavour"
            value="spin"
          />
          <label for="radio-spin">spin</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-falling"
            name="flavour"
            v-model="flavour"
            value="falling"
          />
          <label for="radio-falling">falling</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-stretching"
            name="flavour"
            v-model="flavour"
            value="stretching"
          />
          <label for="radio-stretching">stretching</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-gathering"
            name="flavour"
            v-model="flavour"
            value="gathering"
          />
          <label for="radio-gathering">gathering</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-hourglass"
            name="flavour"
            v-model="flavour"
            value="hourglass"
          />
          <label for="radio-hourglass">hourglass</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-overtaking"
            name="flavour"
            v-model="flavour"
            value="overtaking"
          />
          <label for="radio-overtaking">overtaking</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-shuttle"
            name="flavour"
            v-model="flavour"
            value="shuttle"
          />
          <label for="radio-shuttle">shuttle</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-bouncing"
            name="flavour"
            v-model="flavour"
            value="bouncing"
          />
          <label for="radio-bouncing">bouncing</label>
        </span>
        <span>
          <input
            type="radio"
            id="radio-rolling"
            name="flavour"
            v-model="flavour"
            value="rolling"
          />
          <label for="radio-rolling">rolling</label>
        </span>
      </form>
    </aside>
    <div class="snippet" :title="flavour">
      <div class="stage">
        <ok-carousel
          :flavour="flavour"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
import {ref} from 'vue'

const flavour = ref('elastic')
</script>

<style lang="scss" scoped>
div {
  display: flex;
  gap: 10px;
  aside {
    max-width: 50%;
    form {
      display: flex;
      // max-width: 50%;
      flex-wrap: wrap;
      flex-basis: 20%;
      border: dashed 1px black;
      background: rgba(0,0,0,.1);
      border-radius: 8px;
      padding: 10px;
      span {
        display: flex;
        align-items: center;
      }
    }
  }
  .snippet {
    display: flex;
    position: relative;
    background: var(--vp-c-bg);
    padding: 2rem 5%;
    // margin: 1.5rem 0;
    flex-grow: 1;
    box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px var(--vp-c-text-1);
    border-radius: .25rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    &:before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 5px;
      content: attr(title);
      font-size: .75rem;
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      color: white;
      background-color: #4C00ED;
      border-radius: .25rem 0 .25rem 0;
    }
    .stage {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 2rem 0;
      margin: 0 -5%;
      overflow: hidden;
      flex-grow: 1;
      &-contrast {
        filter: contrast(5);
        background-color: white;
      }
    }
  }
}
</style>
