/* Color */
$ok-carousel-clr-primary: #cef57d !default;
$ok-carousel-clr-secondary: #4C00ED !default;
$ok-carousel-clr-white: #ffffff !default;

/* Icon */
$ok-carousel-icn-width: 1.2em !default;

/* Navigation */
$ok-carousel-nav-width: 30px !default;
$ok-carousel-nav-color: #ffffff !default;
$ok-carousel-nav-background-color: $ok-carousel-clr-primary !default;

/* Pagination */
$ok-carousel-pgn-width: 30px !default;
$ok-carousel-pgn-height: 5px !default;
$ok-carousel-pgn-margin: 5px !default;
$ok-carousel-pgn-border-radius: 0 !default;
$ok-carousel-pgn-background-color: $ok-carousel-clr-secondary !default;
$ok-carousel-pgn-active-color: $ok-carousel-clr-primary !default;


:root {
  --ok-carousel-clr-primary: #{$ok-carousel-clr-primary};
  --ok-carousel-clr-secondary: #{$ok-carousel-clr-secondary};
  --ok-carousel-clr-white: #{$ok-carousel-clr-white};
  --ok-carousel-icn-width: #{$ok-carousel-icn-width};
  --ok-carousel-nav-width: #{$ok-carousel-nav-width};
  --ok-carousel-nav-color: #{$ok-carousel-nav-color};
  --ok-carousel-nav-background-color: #{$ok-carousel-nav-background-color};
  --ok-carousel-pgn-width: #{$ok-carousel-pgn-width};
  --ok-carousel-pgn-height: #{$ok-carousel-pgn-height};
  --ok-carousel-pgn-margin: #{$ok-carousel-pgn-margin};
  --ok-carousel-pgn-border-radius: #{$ok-carousel-pgn-border-radius};
  --ok-carousel-pgn-background-color: #{$ok-carousel-pgn-background-color};
  --ok-carousel-pgn-active-color: #{$ok-carousel-pgn-active-color};
}
