@import 'variables';

.ok-carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &__track {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
  }
  &__viewport {
    overflow: hidden;
  }
  &__icon {
    fill: currentColor;
  }
  &__prev,
  &__next {
    text-align: center;
    font-size: calc($ok-carousel-nav-width * 2 / 3);
    padding: 0;
    color: $ok-carousel-nav-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 0;
    cursor: pointer;
  }
  &__prev {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  &__next {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
  &--right &__prev {
    left: auto;
    right: 0;
    transform: translate(50%, -50%);
  }
  &--right &__next {
    right: auto;
    left: 0;
    transform: translate(-50%, -50%);
  }
  &__pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    &-button {
      margin: $ok-carousel-pgn-margin;
      width: $ok-carousel-pgn-width;
      height: $ok-carousel-pgn-height;
      border-radius: $ok-carousel-pgn-height;
      border: 0;
      cursor: pointer;
      background-color: $ok-carousel-pgn-background-color;
    }
    &-button--active {
      background-color: $ok-carousel-pgn-active-color;
    }
  }
  &__slide {
    scroll-snap-stop: auto;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
