<template>
  <OkCarousel :itemsLimit="3.95" :wrapAround="true">
    <OkSlide v-for="slide in 10" :key="slide">
      <div class="ok-carousel__item">{{ slide }}</div>
    </OkSlide>
  </OkCarousel>
</template>

<style scoped>
.ok-carousel__slide > .ok-carousel__item {
  transform: scale(1);
  opacity: 0.5;
  transition: 0.5s;
}
.ok-carousel__slide--visible > .ok-carousel__item {
  opacity: 1;
  transform: rotateY(0);
}
.ok-carousel__slide--next > .ok-carousel__item {
  transform: scale(0.9) translate(-10px);
}
.ok-carousel__slide--prev > .ok-carousel__item {
  transform: scale(0.9) translate(10px);
}
.ok-carousel__slide--active > .ok-carousel__item {
  transform: scale(1.1);
}
</style>
