<template>
  <OkCarousel :autoplay="2000" :wrapAround="true" pauseOnHover>
    <OkSlide v-for="slide in 10" :key="slide">
      <div class="ok-carousel__item">{{ slide }}</div>
    </OkSlide>
  </OkCarousel>
</template>
