<template>
  <OkCarousel :settings="settings" :breakpoints="breakpoints">
    <OkSlide v-for="slide in 10" :key="slide">
      <div class="ok-carousel__item">{{ slide }}</div>
    </OkSlide>
  </OkCarousel>
</template>

<script setup>
import {ref} from 'vue'

const settings = ref({
  itemsLimit: 1,
  snapAlign: 'center',
})

const breakpoints = ref({
  // 700px and up
  700: {
    itemsLimit: 3.5,
    snapAlign: 'center',
  },
  // 1024 and up
  1024: {
    itemsLimit: 5,
    snapAlign: 'start',
  },
})
</script>
