<template>
  <OkCarousel
    :itemsLimit="1"
    snapAlign="center"
    :previousIcon="inlineCustomPrevIcon"
    :nextIcon="inlineCustomNextIcon"
  >
    <OkSlide v-for="slide in 11" :key="slide">
      <div class="ok-carousel__item">{{ slide }}</div>
    </OkSlide>
  </OkCarousel>
</template>

<script setup>
import {ref} from 'vue'

const inlineCustomPrevIcon = ref({
  vectorData: 'M 41.683 106.29 C 41.28 106.668 40.647 106.646 40.27 106.243 L 6.561 70.19 C 4.508 67.984 2.825 65.293 1.703 62.424 C 0.598 59.551 0 56.386 0 53.28 C 0 50.174 0.598 47.009 1.703 44.135 C 2.825 41.266 4.508 38.577 6.561 36.37 L 40.27 0.317 C 40.647 -0.086 41.28 -0.108 41.683 0.27 C 42.086 0.647 42.108 1.28 41.73 1.683 L 8.021 37.736 C 6.086 39.789 4.605 42.158 3.567 44.859 C 2.514 47.553 2 50.358 2 53.28 C 2 56.202 2.514 59.007 3.567 61.702 C 4.605 64.401 6.086 66.77 8.021 68.824 L 41.73 104.877 C 42.108 105.28 42.086 105.913 41.683 106.29 Z',
  viewBox: '0 0 42 106.7',
  width: '43',
  height: '107',
  color: '#4C00ED',
  transform: `scale(-1,1) translate(-43,0)`,
})
const inlineCustomNextIcon = ref({
  vectorData: 'M 41.683 106.29 C 41.28 106.668 40.647 106.646 40.27 106.243 L 6.561 70.19 C 4.508 67.984 2.825 65.293 1.703 62.424 C 0.598 59.551 0 56.386 0 53.28 C 0 50.174 0.598 47.009 1.703 44.135 C 2.825 41.266 4.508 38.577 6.561 36.37 L 40.27 0.317 C 40.647 -0.086 41.28 -0.108 41.683 0.27 C 42.086 0.647 42.108 1.28 41.73 1.683 L 8.021 37.736 C 6.086 39.789 4.605 42.158 3.567 44.859 C 2.514 47.553 2 50.358 2 53.28 C 2 56.202 2.514 59.007 3.567 61.702 C 4.605 64.401 6.086 66.77 8.021 68.824 L 41.73 104.877 C 42.108 105.28 42.086 105.913 41.683 106.29 Z',
  viewBox: '0 0 42 106.7',
  width: '43',
  height: '107',
  color: '#4C00ED',
  transform: '',
})
</script>
