<template>
  <OkCarousel :itemsLimit="3" id="hideArrowsExample">
    <OkSlide v-for="slide in 10" :key="slide">
      <div class="ok-carousel__item">{{ slide }}</div>
    </OkSlide>
  </OkCarousel>
</template>

<style>
#hideArrowsExample .ok-carousel__prev--in-active,
#hideArrowsExample .ok-carousel__next--in-active {
  display: none;
}
</style>
