<template>
  <OkCarousel :itemsLimit="1" snapAlign="center" :pagination="false">
    <OkSlide v-for="slide in 11" :key="slide">
      <div class="ok-carousel__item">{{ slide }}</div>
    </OkSlide>
  </OkCarousel>
</template>
