<template>
  <OkCarousel :itemsLimit="2.5" :wrapAround="true">
    <OkSlide v-for="slide in 10" :key="slide">
      <div class="ok-carousel__item">{{ slide }}</div>
    </OkSlide>
  </OkCarousel>
</template>
