<template>
  <button
    type="button"
    :class="prevButtonClasses"
    ariaLabel="Navigate to previous slide"
    @click="nav.prev"
    :style="mainButtonStyle(prevIconAttrs)"
  >
    <slot name="prev">
      <svg
        class="ok-carousel__icon"
        :viewBox="prevIconAttrs.viewBox"
        role="img"
        :ariaLabel="prevIconAttrs.title"
        :width="prevIconAttrs.width"
        :height="prevIconAttrs.height"
      >
        <title>{{prevIconAttrs.title}}</title>
        <path
          :d="prevIconAttrs.vectorData"
          :style="{fill: prevIconAttrs.color}"
          :transform="prevIconAttrs.transform"        />
      </svg>
    </slot>
  </button>
  <button
    type="button"
    :class="nextButtonClasses"
    ariaLabel="Navigate to next slide"
    @click="nav.next"
    :style="mainButtonStyle(nextIconAttrs)"
  >
    <slot name ="next">
      <svg
        class="ok-carousel__icon"
        :viewBox="nextIconAttrs.viewBox"
        role="img"
        :ariaLabel="nextIconAttrs.title"
        :width="nextIconAttrs.width"
        :height="nextIconAttrs.height"
      >
        <title>{{nextIconAttrs.title}}</title>
        <path
          :d="nextIconAttrs.vectorData"
          :style="{fill: nextIconAttrs.color}"
          :transform="nextIconAttrs.transform"
        />
      </svg>
    </slot>
  </button>
</template>

<script setup>
import icons from '~/partials/icons.js'
import { inject, ref, computed, reactive } from 'vue'
import { defaultConfigs } from '~/partials/defaults.js'

const props = defineProps({
  previousIcon: {
    type: Object,
    default: () => {},
  },
  nextIcon: {
    type: Object,
    default: () => {},
  },
})

const config = inject('config', reactive({ ...defaultConfigs }))
const maxSlide = inject('maxSlide', ref(1))
const minSlide = inject('minSlide', ref(1))
const currentSlide = inject('currentSlide', ref(1))
const nav = inject('nav', {})
const isRight = config.dir === 'right'

const prevButtonClasses = computed(() => {
  return {
    'ok-carousel__prev': true,
    'ok-carousel__prev--in-active': !config.wrapAround && currentSlide.value <= minSlide.value,
  }
})
const nextButtonClasses = computed(() => {
  return {
    'ok-carousel__next': true,
    'ok-carousel__next--in-active': !config.wrapAround && currentSlide.value >= maxSlide.value,
  }
})

const prevIconAttrs = computed(() => {
  const sourceData = props.previousIcon && props.nextIcon
    ? isRight
      ? props.previousIcon : props.nextIcon
    : icons[isRight ? 'arrowRight' : 'arrowLeft']
  return {
    title: 'previous icon',
    ...sourceData,
  }
})

const nextIconAttrs = computed(() => {
  const sourceData = props.previousIcon && props.nextIcon
    ? isRight
      ? props.nextIcon : props.previousIcon
    : icons[isRight ? 'arrowLeft' : 'arrowRight']
  return {
    title: 'next icon',
    ...sourceData,
  }
})

const mainButtonStyle = ({background, borderRadius, mainHeight, mainWidth, border}) => {
  return {
    backgroundColor: background,
    borderRadius,
    height: mainHeight,
    width: mainWidth,
    border,
  }
}
</script>
