<template>
  <ol class="ok-carousel__pagination">
    <li
      v-for="(slide, index) in slidesCount"
      :key="slide"
    >
      <button
        :class="{'ok-carousel__pagination-button': true, 'ok-carousel__pagination-button--active': isActive(index)}"
        :ariaLabel="`Navigate to slide ${index + 1}`"
        @click="handleButtonClick(index)"
      />
    </li>
  </ol>
</template>

<script setup>
import { inject, ref } from 'vue'
const slidesCount = inject('slidesCount', ref(1))
const maxSlide = inject('maxSlide', ref(1))
const minSlide = inject('minSlide', ref(1))
const currentSlide = inject('currentSlide', ref(1))
const nav = inject('nav', {})

const handleButtonClick = (slideNumber) => {
  nav.slideTo(slideNumber)
}

const isActive = (slide) => {
  const val = currentSlide.value
  return (
    val === slide ||
    (val > maxSlide.value && slide >= maxSlide.value) ||
    (val < minSlide.value && slide <= minSlide.value)
  )
}


</script>
