<template>
  <li :style="slideStyle" :class="classes">
    <slot />
  </li>
</template>

<script setup>
import { inject, ref, computed, watch, reactive } from 'vue'
import { defaultConfigs } from '~/partials/defaults.js'

const props = defineProps({
  index: {
    type: Number,
    default: 1,
  },
})

const config = inject('config', reactive({ ...defaultConfigs }))
const slidesBuffer = inject('slidesBuffer', ref([]))
const currentSlide = inject('currentSlide', ref(0))
const slidesToScroll = inject('slidesToScroll', ref(0))
const wrapOrder = ref(props.index)

const updateOrder = () => {
  wrapOrder.value = slidesBuffer.value.indexOf(props.index)
}

if (config.wrapAround) {
  updateOrder()
  watch(slidesBuffer, updateOrder)
}

const slideStyle = computed(() => {
  const items = config.itemsLimit
  const width = `${(1 / items) * 100}%`
  return {
    width,
    order: wrapOrder.value.toString(),
  }
})

const classes = computed(()=>{
  return {
    'ok-carousel__slide': true,
    'ok-carousel__slide--active': props.index === currentSlide.value,
    'ok-carousel__slide--visible': () => {
      const min = Math.ceil(slidesToScroll.value)
      const max = Math.floor(slidesToScroll.value + config.itemsLimit)
      const current = slidesBuffer.value.slice(min, max)

      return current.includes(props.index)
    },
    'ok-carousel__slide--prev': props.index === slidesBuffer.value[Math.ceil(slidesToScroll.value) - 1],
    'ok-carousel__slide--next': props.index === slidesBuffer.value[Math.floor(slidesToScroll.value + config.itemsLimit)],
  }
})
</script>
